h1 {
    text-align: center;
    margin-top: 2vh;
}

h1,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
}


label {
    font-weight: bold;
}

.date-search {
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.date-search,
button,
p {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    margin-left: 1vw;
    font-size: 14px;
}

.saturn {
    height: 2em;
    width: 2em;
    padding-left: 10px;
}

.modal-backdrop {
    background-color: rgb(19, 13, 107);
}

.offcanvas-bottom {
    height: 75vh;
}

.offcanvas-header {
    padding: 10px;
}
.title {
    font-size: smaller;
}

.display-wrapper {
display: flex;
justify-content: space-around;
}
.explanation {
    width: 60vh;
}

.display-image,
.display-video {
    height: 50vh;
    width: 50vw;
}