html,
body {
    width: 100%;
    height: 100%;
    background: #232741;
    overflow: hidden;
}

html {
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

canvas {
    width: 100%;
    height: 100%;
    display: block;

}

body {
    color: white;
}

h1 {
    text-align: center;
    margin-top: 2vh;
}

h1,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
}


label {
    font-weight: bold;
}

.date-search {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date-search,
button,
p {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    margin-left: 1vw;
    font-size: 14px;
}

.saturn {
    height: 2em;
    width: 2em;
    padding-left: 10px;
}

.offcanvas {
    color: #232741;
    background-color: white;
}

div.offcanvas-body.small {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0;
}

.offcanvas-header {

    padding: 0;
    margin: 2vh;
}

.modal-backdrop {
    background-color: gray;
}

.offcanvas-bottom {
    height: 75vh;
}

.title {
    font-size: smaller;
}

.display-wrapper {
    display: flex;
    justify-content: space-around;
}

.explanation {
    height: 50vh;
    width: 50vw;
}

.display-image,
.display-video {
    height: 30vw;
    width: 40vw;
}


#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #232741;
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
}